{% load static %}
<div class="signup sidebar-box hide-small show-large" data-box-priority="0">
    <h3 class="sidebar-box__header">Get the Newsletter</h3>
    <p class="sidebar-box__description">Subscribe to <strong>{{site.name}}</strong> to get the must-read news &amp; insights in your inbox.</p>
    <form class="form js-form-email-validate" name="signup" action="{% url 'signup' %}" method="POST" id="signup_right_sidebar">
        {% csrf_token %}
        <label for="id_email" class="email-input js-email-input">
            <span class="screen-reader-text">Email:</span>
            <input type="email" name="email" placeholder="Enter your work email" class="email" required="" id="id_email"1>
        </label>
        <button class="button button--loud button--full-width" type="submit" value="Sign up">
            <img class="button__icon button__icon--left" src="{% static '/image/components/email.svg' %}" alt="email icon" height="16" width="16" loading="lazy"> Sign up
        </button>
    </form>
</div>