[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
beautifulsoup4 = "==4.8.2"
djangorestframework = "*"
bs4 = "*"
django-summernote = "*"

[dev-packages]

[requires]
python_version = "3.9"
